div {
/*	width: 100%;
		height: 300px;*/
	/*float: left;*/
	margin: 10px;
	padding: 10px;
	float: left;
}

h1, h2 {
	font-family: verdana, "Open Sans";
}

#compliment {
	background-color: #FFD3E7;
	border-top: tomato solid 5px;
}

#complement {
	border-top: silver solid 5px;
	background-color: #C0D6DF;

}


/* Responsiveness */

@media (min-width: 600px) {

	div {
		width: 46%;
		max-width: 100%;
	}
}