.bg {
  color: white;
  overflow: hidden;
  display: block;
  background: #CCC url(http://image.vsco.co/1/52fc884923f22358158/52ff6e03726708d721000465/1600x1069/vsco_021514.jpg) no-repeat center fixed;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/*

.bg2 {
  content:'';
  color: white;
  overflow: hidden;
  clear: both;
  display: block;
  background: #CCC url(https://scontent-b-cdg.xx.fbcdn.net/hphotos-frc1/t31/883231_10151765921711583_838076547_o.jpg) no-repeat center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
}
*/

.border {
  border: 2px solid black;
}

span {
  color: black;
  background-color: white;
}

h1 {
  text-align: center ;
  font-family: Futura;
  margin-top: 60px;
  margin-bottom: 50px;
}

h2 {
  margin-top: 150px;
  text-align: center ;
  font-family: Futura;
}

body {
  text-align: center;
}

div img {
  height: 150px;
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 500px;
}

p {
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
}

.content a {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 0 5px 2px 5px;
}

.fa a {
  text-decoration: none;
  color: white;
  margin-right: 18px;
  font-size: 0.8em;
}

.fa a:last-child {
  margin-right: 0;
}

/*
a:hover {

}
*/
