body {
  color: white;
  overflow: hidden;
  background: #CCC url(http://image.vsco.co/1/52fc884923f22358158/52ff7156716708c765000370/1600x1069/vsco_021514.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

span {
  color: black;
  background-color: white;
}

h1 {
  text-align: center ;
  font-family: Futura;
}

div img {
  height: 100px;
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 500px;
}

div p {
  text-align: center;
  font-family: Helvetica;
}

a {
  color: #FFFC52;
  text-decoration: none;
}

a:hover {
  color: #FF5291;
}
