.bg {
  color: white;
  clear: both;
  overflow: hidden;
  display: block;
  background: #CCC url(http://image.vsco.co/1/52fc884923f22358158/52ff7156716708c765000370/1600x1069/vsco_021514.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.bg:after {
  color: white;
  overflow: hidden;
  clear: both;
  display: block;
  background: #CCC url(https://scontent-b-cdg.xx.fbcdn.net/hphotos-frc1/t31/883231_10151765921711583_838076547_o.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
}

span {
  color: black;
  background-color: white;
}

h1 {
  text-align: center ;
  font-family: Futura;
}

div img {
  height: 200px;
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 500px;
}

div p {
  text-align: center;
  font-family: Helvetica;
  margin-bottom: 150px;
}

a {
  color: black;
  background-color: white;
  text-decoration: none;
}

/*
a:hover {

}
*/
