/* first color = D25000 */

a {
  transition: color .1s;
  color: #3778a6;
}

a:link,
a:visited { color: #3778a6; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .1s;
  color: #007BE6;
}

.link { text-decoration: none; }


.main-header {
	padding-top: 40px;
	color: white;
	text-align: center;
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6e7f, #bfe9ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6e7f, #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
	background: #fff;
	margin: 0;
}

h1 {
	font-size: 1.5em;
	font-family: verdana;
	text-shadow: #000 0.5px 0.5px 0.5px;
  vertical-align: middle;
	margin-top: 10px;
}

.array {
  color: #FFE347;
}

h2 {
	font-family: verdana;
	font-size: 1em;
	text-shadow: #000 0.5px 0.5px 0.5px;
	padding: 0 60px 0 60px;
}

h3 {
	font-family: helvetica;
	font-size: 1.2em;
	margin: 0 10% 0 10%;
}

.sitelist {
	list-style-type: none;
}

li {
	font-family: helvetica;
	font-size: 1.2em;
	margin: 7px 10% 0 10%;
}

footer {
	margin: 50px 20% 20px 20%;
	border-top: 5px solid #265C83;
	padding: 30px 30px 30px 30px;
/*	padding-top: 30px;*/
/*	padding-bottom: 30px;*/
	text-align: center;
	font-size: 1.6em;
}

@media (min-width: 740px) {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.1em;
	}

	h3 {
		margin-top: 40px;
		font-size: 2em;
	}

	li {
		font-size: 2em;
	}
	.main-header {
		height: 150px;
	}

}
