.rounded {
	font-family: helvetica, 'open sans';
	font-size: 150px;
}

h1 {
	text-transform: uppercase;

}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}