/* HEADER STUFF */

header {
  background-color: orange;
  margin-bottom: 10px;
  border-bottom: 10px;
  padding-bottom: 10px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  border-top: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

/* NAV BAR STUFF */

nav {
  background-color: lightgrey;
  
  float: left;
}

ul {
  font-size: 1.2em;
}

ul ul {
  font-size: 0.9em;
}

a:link {
  color: orange;
}

a:hover {
  color: steelblue;
}

a:visited {
  color: orange;
}

/* CONTENT STUFF */

section {
  padding-left: 30px;
  float: left;
}

#title {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 30px;
}