* {
  box-sizing: border-box;
}

html {
  font-family: "Reem Kufi", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Reem Kufi", sans-serif;
}

h1 {
  font-size: 3em;
  margin: 12px 0 0 0;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  padding-right: 8px;
  padding-left: 8px;
}

h2 {
  font-family: "Open Sans";
  margin: 26px 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-titlepart {
  display: flex;
  flex-direction: row;
}

.board {
  width: 500px;
  height: 500px;
  background-color: #4f6d7a;
  text-align: center;
  position: relative;
}

.margin-left {
  margin: 0 0 0 30px;
}

.instructions-objective {
  margin: 10px 0 0 0;
  display: flex;
}

.s-margin {
  margin: 10px 0px 5px;
}

.instructions-keys {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 0 0 0;
}

.tile {
  position: absolute;
  width: 25px;
  height: 25px;
}

.color-key {
  width: 22px;
  height: 22px;
  margin: 0px 10px 0 10px;
}

.keyshape {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 10px;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.3em;
  }
}

/*

Color schemes

https://coolors.co/084c61-db504a-f7b801-4f6d7a-56a3a6
https://coolors.co/3d348b-7678ed-f7b801-f18701-f35b04


*/
