* {
  box-sizing: border-box;
}

html {
  font-family: "Reem Kufi", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Reem Kufi", sans-serif;
}

h1 {
  font-size: 3em;
  margin: 12px 0 0 0;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  padding-right: 8px;
  padding-left: 8px;
}

h2 {
  font-family: "Open Sans";
  margin: 10px 0 20px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-titlepart {
  display: flex;
  flex-direction: row;
}

.twoplayers-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
}

.twoplayers-container p {
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 10px;
}

/*default
width: 60px;
height: 34px;
*/

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E0ACD5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #E0ACD5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slide:hover, .slide:focus {
  box-shadow: inset 8em 0 0 0 var(--hover);
}

.slide {
  --color: #E0ACD5;
  --hover: #E0ACD5;
}

.btn-restart {
  transition: 0.25s;
  background: none;
  border: 2px solid;
  border-radius: 10px;
  font: inherit;
  margin: 15px;
  padding: 0em 15px;
}

.twoplayers-switch {
  transition: 0.25s;
  background: none;
  border: 2px solid;
  border-radius: 10px;
  font: inherit;
  margin: 15px 0 0px 0;
  padding: 0em 15px;
}

.footer {
  margin: 40px 0 0 0;
}

a {
  text-decoration: none;
  color: #E5E5E5;
}

.board {
  width: 400px;
  height: 400px;
  background-color: #4f6d7a;
  text-align: center;
  position: relative;
  /*border: 2px solid #4f6d7a;*/
}

.margin-left {
  margin: 0 0 0 30px;
}

.instructions-objective {
  margin: 10px 0 0 0;
  display: flex;
}

.s-margin {
  margin: 10px 0px 5px;
}

.instructions-keys {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 0 0 0;
}

.tile {
  position: absolute;
  width: 25px;
  height: 25px;
}

.color-key {
  width: 22px;
  height: 22px;
  margin: 0px 10px 0 10px;
}

.keyshape {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 10px;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.3em;
  }
}

/*

Color schemes

https://coolors.co/084c61-db504a-f7b801-4f6d7a-56a3a6
https://coolors.co/3d348b-7678ed-f7b801-f18701-f35b04


*/
